.container {
  background-color: var(--white-color);
  padding: 10px;
}

.empty__container {
  height: 400px;
}

@media all and (min-width: 768px) {
  .container {
    height: fit-content;
    min-height: 740px;
  }

  .empty__container {
    background-color: var(--white-color);
  }
}
