.header {
  border-bottom: 1px solid var(--border-color);
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-color);
}

.logo__eisiSoft {
  width: 120px;
  margin-left: 15px;
}

@media all and (min-width: 768px) {
  .menu__icon {
    display: none;
  }

  .header__envelop {
    display: none;
  }

  .logo__eisiSoft {
    width: 150px;
    margin-left: 20px;
  }

  /* NAV */
  .nav__show {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--white-color);
    top: 55px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
  }

  .nav__list {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #check {
    display: none;
  }

  #check:checked ~ .nav__show {
    left: 0;
    position: absolute;
  }

  .menu__ham {
    width: 30px;
    cursor: pointer;
    margin-right: 15px;
  }

  .nav__icon {
    width: 20px;
    margin-bottom: 4px;
  }

  @media all and (min-width: 768px) {
    .menu__icon {
      display: none;
    }

    .header__envelop {
      display: none;
    }

    .logo__eisiSoft {
      width: 150px;
      margin-left: 20px;
    }

    .checkbtn {
      display: none;
    }
  }
}
