.select__container {
  height: 45px;
  width: 100vw;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.select {
  height: 30px;
  width: 150px;
  padding: 4px 0 4px 4px;
  margin-right: 15px;
  color: var(--white-color);
  background-color: var(--primary-color);
  border: none;
  border: 2px solid var(--white-color);
}

@media all and (min-width: 768px) {
  .select__container {
    width: auto;
  }
}
