:root {
  --white-color: white;
  --primary-color: #5b7998;
  --secondary-color: rgb(170, 207, 219);
  --grey-color: rgb(189, 209, 231);
  --border-color: rgb(150, 158, 175);
  --black-color: black;
}
